@font-face { 
    font-family: "Ruda";
    src: url(../fonts/rudamedium.ttf) format("truetype");
}
@font-face { 
    font-family: "Russo One";
    src: url(../fonts/russooneregular.ttf) format("truetype");
}
@font-face { 
    font-family: "Raleway";
    src: url(../fonts/ralewayblack.ttf) format("truetype");
    font-weight: black;
}
@font-face { 
    font-family: "Raleway";
    src: url(../fonts/ralewayregular.ttf) format("truetype");
    font-weight: 300;
}